/*------------------------------------*\
            style de base
\*------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  padding:0;
  margin:0;

  background-image:url(../img/image.png);

  color:white;
  font-size:12px;
}

h1 {
  text-transform: uppercase;
}

header, footer {
  padding:10px;
  width:100%;

  background-image:url(../img/image2.png);

}

main {
  width:90%;
  margin:auto;

  color:white;
}

p {
  text-align:justify;
}

.conteneur {
  margin:15px;
  padding:10px;
}

ul li{
  list-style-type:none;
  color:white;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 960px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*------------------------------------*\
                header
\*------------------------------------*/

header .image img {
  width:50%;
}

.entete {
  width:30%;

  display:inline-block;
  vertical-align:top;
}

.image {
  width:20%;

  display:inline-block;
  vertical-align:top;

}

/*------------------------------------*\
                footer
\*------------------------------------*/

footer {
  bottom:0;
}

footer p {
  display:inline-block;
  margin-left:30px;
  width:30%;

  text-align:center;
  vertical-align:top;
}

iframe{
  display:inline-block;

  vertical-align:top;
}

/*------------------------------------*\
                filter
\*------------------------------------*/

#filters {
  margin:1%;
  padding:0;
  list-style:none;
}

#filters li {
  float:left;
}

#filters li span {
  display: block;
  padding:5px 20px;

  text-decoration:none;
  color:#666;

  cursor: pointer;
}

#filters li span.active {
  background: #e95a44;

  color:#fff;
}

/*------------------------------------*\
            portfolio
\*------------------------------------*/

#portfoliolist .portfolio {
  display:none;
  float:left;
  margin:1%;
  width:23%;

  overflow:hidden;
}

.portfolio-wrapper {
  position: relative !important;

  background: #666;
  overflow:hidden ;

  cursor:pointer;
}

.portfolio img {
  max-width:100%;
  position: relative;
}

.portfolio .label {
  bottom:-40px;
  display: block;
  height:40px;
  position: absolute;
  width: 100%;
}

.portfolio .label-bg {
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;

  background: #e95a44;
}

.portfolio .label-text {
  padding:5px 8px;
  position: relative;

  color:#fff;

  z-index:5000;
}

.portfolio .text-category {
  display:block;
  margin-top: 5px;

  font-size:9px;
}

.text-title {
  color: black;
}

.text-title:hover {
  text-decoration: none;
  color: white;
}

.text-title:focus {
  text-decoration: none;
  color: black;
}

/*------------------------------------*\
            media query
\*------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }

  #portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }

  #ads {
    display:none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }

  #ads {
    display:none;
  }
}
/*------------------------------------*\
                clear
\*------------------------------------*/

.container:after {display: block; height: 0; clear: both; visibility: hidden; content: "\0020"; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: block;
  width: 0;
  height: 0;

  overflow: hidden;
  visibility: hidden;
  content: '\0020';}
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
}

.center {
  text-align: center;
}